<!DOCTYPE html>
<html>
  <head>
    <title>Ejercicio Miércoles</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Este sitio web rtata sobre videojuegos" />
    <meta name="keywords" content="videojuegos,colecciones,games" />
    <meta name="author" content="Francisco Romero" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="alternate"
      href="atom.xml"
      type="application/atom+xml"
      title="Atom"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="videojuegos.com" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/ef48f4e9ad.js" crossorigin="anonymous"></script>
  </head>
  <body>  



    </body>
</html>